framework2/CoreNetLibrary.Infraestructure.ConsoleTest/Web References/WebReference/IBancorRecaudoWSservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="IBancorRecaudoWSservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="ConsEstadoCuentaEmpresa0Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="ConsEstadoCuentaEmpresa0Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="BloqueoEstadoCuentaEmpresa1Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="BloqueoEstadoCuentaEmpresa1Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="PagoEstadoCuentaEmpresa2Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="PagoEstadoCuentaEmpresa2Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="ConsDetEstadoCuentaEmpresa3Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="ConsDetEstadoCuentaEmpresa3Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="ActualizacionEstCtaEmpresa4Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="ActualizacionEstCtaEmpresa4Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="ConsultaCreditosPorCliente5Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="ConsultaCreditosPorCliente5Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="TranPorConfirmarAbonoCredito6Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="TranPorConfirmarAbonoCredito6Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="AbonoCreditoIndividual7Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="AbonoCreditoIndividual7Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="ConsHistoricoCreditos8Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="ConsHistoricoCreditos8Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="EmitaCertificados9Request">
    <part name="InputData" type="xs:string" />
  </message>
  <message name="EmitaCertificados9Response">
    <part name="return" type="xs:string" />
  </message>
  <portType name="IBancorRecaudoWS">
    <operation name="ConsEstadoCuentaEmpresa">
      <input message="tns:ConsEstadoCuentaEmpresa0Request" />
      <output message="tns:ConsEstadoCuentaEmpresa0Response" />
    </operation>
    <operation name="BloqueoEstadoCuentaEmpresa">
      <input message="tns:BloqueoEstadoCuentaEmpresa1Request" />
      <output message="tns:BloqueoEstadoCuentaEmpresa1Response" />
    </operation>
    <operation name="PagoEstadoCuentaEmpresa">
      <input message="tns:PagoEstadoCuentaEmpresa2Request" />
      <output message="tns:PagoEstadoCuentaEmpresa2Response" />
    </operation>
    <operation name="ConsDetEstadoCuentaEmpresa">
      <input message="tns:ConsDetEstadoCuentaEmpresa3Request" />
      <output message="tns:ConsDetEstadoCuentaEmpresa3Response" />
    </operation>
    <operation name="ActualizacionEstCtaEmpresa">
      <input message="tns:ActualizacionEstCtaEmpresa4Request" />
      <output message="tns:ActualizacionEstCtaEmpresa4Response" />
    </operation>
    <operation name="ConsultaCreditosPorCliente">
      <input message="tns:ConsultaCreditosPorCliente5Request" />
      <output message="tns:ConsultaCreditosPorCliente5Response" />
    </operation>
    <operation name="TranPorConfirmarAbonoCredito">
      <input message="tns:TranPorConfirmarAbonoCredito6Request" />
      <output message="tns:TranPorConfirmarAbonoCredito6Response" />
    </operation>
    <operation name="AbonoCreditoIndividual">
      <input message="tns:AbonoCreditoIndividual7Request" />
      <output message="tns:AbonoCreditoIndividual7Response" />
    </operation>
    <operation name="ConsHistoricoCreditos">
      <input message="tns:ConsHistoricoCreditos8Request" />
      <output message="tns:ConsHistoricoCreditos8Response" />
    </operation>
    <operation name="EmitaCertificados">
      <input message="tns:EmitaCertificados9Request" />
      <output message="tns:EmitaCertificados9Response" />
    </operation>
  </portType>
  <binding name="IBancorRecaudoWSbinding" type="tns:IBancorRecaudoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="ConsEstadoCuentaEmpresa">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#ConsEstadoCuentaEmpresa" style="rpc" />
      <input message="tns:ConsEstadoCuentaEmpresa0Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:ConsEstadoCuentaEmpresa0Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="BloqueoEstadoCuentaEmpresa">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#BloqueoEstadoCuentaEmpresa" style="rpc" />
      <input message="tns:BloqueoEstadoCuentaEmpresa1Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:BloqueoEstadoCuentaEmpresa1Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="PagoEstadoCuentaEmpresa">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#PagoEstadoCuentaEmpresa" style="rpc" />
      <input message="tns:PagoEstadoCuentaEmpresa2Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:PagoEstadoCuentaEmpresa2Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ConsDetEstadoCuentaEmpresa">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#ConsDetEstadoCuentaEmpresa" style="rpc" />
      <input message="tns:ConsDetEstadoCuentaEmpresa3Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:ConsDetEstadoCuentaEmpresa3Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ActualizacionEstCtaEmpresa">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#ActualizacionEstCtaEmpresa" style="rpc" />
      <input message="tns:ActualizacionEstCtaEmpresa4Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:ActualizacionEstCtaEmpresa4Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ConsultaCreditosPorCliente">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#ConsultaCreditosPorCliente" style="rpc" />
      <input message="tns:ConsultaCreditosPorCliente5Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:ConsultaCreditosPorCliente5Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="TranPorConfirmarAbonoCredito">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#TranPorConfirmarAbonoCredito" style="rpc" />
      <input message="tns:TranPorConfirmarAbonoCredito6Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:TranPorConfirmarAbonoCredito6Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="AbonoCreditoIndividual">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#AbonoCreditoIndividual" style="rpc" />
      <input message="tns:AbonoCreditoIndividual7Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:AbonoCreditoIndividual7Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ConsHistoricoCreditos">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#ConsHistoricoCreditos" style="rpc" />
      <input message="tns:ConsHistoricoCreditos8Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:ConsHistoricoCreditos8Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="EmitaCertificados">
      <soap:operation soapAction="urn:BancorRecaudoWSIntf-IBancorRecaudoWS#EmitaCertificados" style="rpc" />
      <input message="tns:EmitaCertificados9Request">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output message="tns:EmitaCertificados9Response">
        <soap:body use="encoded" namespace="urn:BancorRecaudoWSIntf-IBancorRecaudoWS" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IBancorRecaudoWSservice">
    <port name="IBancorRecaudoWSPort" binding="tns:IBancorRecaudoWSbinding">
      <soap:address location="http://192.168.248.237/BancorWS/Credito/BCWebServiceRecaudo.dll/soap/IBancorRecaudoWS" />
    </port>
  </service>
</definitions>